.blockTwo{

    margin:auto;
    margin-top: 4vmin;
  
    button {
        width: 180px;
        height: 50px;
        margin: clamp(0.2vmin, 20px, 2vmin);
        background-color: inherit;
        border: 1px solid white;
        border-radius: 5px;
        color : #bebebe;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;

        &:hover{
            background: linear-gradient(90deg, #cd7400, #ce7501, #d17803, #d67b07, #dc800c, #e28611, #e98c16, #ef911a, #f5961e, #fa9a20, #fd9d22, #fe9e23);
            color: white;
        }
    }
}