    label {
    margin: 1rem;
    display:flex;
    align-items: center;
    font-weight: 300;
    font-size: calc(12px + 1vmin);
    height: 5vmin;
     
        input[type='radio'] {
            border: 5px solid white;
            appearance:none;
            border-radius: 50%;
            width: calc(14px + 2vmin);
            height: calc(14px + 2vmin);
            margin: clamp(1vmin, 60px, 2vmin);     
            margin-left: calc(5px + 1vmin);

            &:checked:after {
                content: '';
                width: 60%;
                height: 60%;
                background-color: white;
                border-radius: 50%;
                display: flex;
                margin: 20%;
            }
        }
   
    @media screen and (max-width: 960px) {
        width: 48vw;
        height: 5vmin;
       }    
}
