.topbar {
    width: 100%;
    height: calc(50px + 8vmin);
    position: fixed;
    top: 0;
    background: #0b0c10;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .top-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo-circle {
            display: flex;
            cursor: pointer;
            text-decoration: none;
            // font-size: calc(10px + 4vmin);
            margin-left: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
            background-color: #303030;
            border-radius: 50%;
            height: calc(40px + 6vmin);
            width: calc(40px + 6vmin);
            align-items: center;
            justify-content: center;
            transition: all .8s ease;

            .html-icon {
                margin-top: 1vmin;
                color: white;
                width: calc(30px + 5vmin);
                height: calc(30px + 5vmin);
            }

            &:hover {
                background-color: #e88301;
            }
        }

        
        h1{
            margin-left: auto;
            margin-right: 4vw;
            font-size: calc(10px + 2vmin);
            text-align: right;
        }
    }
    
    @media screen and (max-width: 960px) {
        & {
            // position: sticky;
            overflow: hidden;
        }   
    }
}