// @import '../global.scss';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700';

.topbar {
    width: 100%;
    height: calc(50px + 8vmin);
    position: fixed;
    top: 0;
    background: #0b0c10;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // letter-spacing: .2rem;

    .top-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            cursor: pointer;
            text-decoration: none;
            font-size: calc(10px + 4vmin);
            margin-left: 60px;
            // min-width: 10vw;
            // background-color: #004848;
        }

        .logo:hover {
            color: gold;
        }
        
        h1{
            margin-left: auto;
            margin-right: 4vw;
            font-size: calc(10px + 2vmin);
        }
    }
}

@media screen and (max-width: 960px) {
    .topbar {
        position: sticky;
        overflow: hidden;
    }
}