@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.App {
  text-align: center;
  background-color: #2a2d36;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans';  
  overflow-x: hidden;
 
  main {
    margin-top: 10vmin;
    color: white;
      
      header {
        padding: 6vmin;
        background-color: #2a2d36;
        
        h1 {
          font-size: calc(1rem + 3vmin);
          font-weight: 400;
         
          .underline {
            border-bottom: 1px solid white;
            padding-bottom: 1.5vmin;
            }
          }

        @media screen and (max-width: 960px) {
          margin-top: 2vmin;
          }
        @media screen and (max-width: 420px) {
          padding-top: 50px;
          }
        }

    

        section {
          display: flex;
          align-items: center;
          justify-content: space-evenly;  
          flex-wrap: wrap;

          .block-1, .block-2, .block-3 {
            width: 30vw;
            height: 50vmin;
            font-size: calc(8px + 1vmin);
            @media screen and (max-width: 960px) {
                width: 48vw;
                height: 25vh;
                min-height: 20vh;
                h3{
                  font-size: calc(12px + 1vmin);
                }
              }
              @media screen and (max-width: 420px) {
                height: 80px;    
              }
          }

          .block-3 {
            font-weight: lighter;

                @media screen and (max-width: 960px) {
                  width: 92vw;
                  overflow-y: visible;
                }
             } 
     
            @media screen and (max-width: 420px) {
              overflow-y: unset;
              flex-direction: column;
            }
       }
    }
}